In [1]:
import pandas as pd

# Import Features Dataframe (df_features)

In [2]:
data = pd.read_excel("/Users/lszczyrba/Documents/Research/Projects/PR_Housing/Data/AllFeatures20191021.xlsx")
df_features = pd.DataFrame(data)
df_features = df_features.set_index(['FIPS'])

# Import Target Data Frames

df_origs = Original targets, index with destroyed weighted 2x and straight ratio of affected and destroyed

df_No0 = Straight ratio with dropped 0 values

df_NoO = Straight ratio with dropped outliers

df_No0_NoO = Ratio with bboth 0 values and outliers dropped

df_cat = Categorical values, one with 3 (0:low, 1:medium, 2:high) and one with 4 (0:low, 1:medium-low, 2:medium-high, 3:high)

In [3]:
origs = pd.read_excel("/Users/lszczyrba/Documents/Research/Projects/PR_Housing/Data/origs.xlsx")
df_origs = pd.DataFrame(origs)
df_origs = df_origs.set_index(['FIPS'])

No0 = pd.read_excel("/Users/lszczyrba/Documents/Research/Projects/PR_Housing/Data/No0.xlsx")
df_No0 = pd.DataFrame(No0)
df_No0 = df_No0.set_index(['FIPS'])

NoO = pd.read_excel("/Users/lszczyrba/Documents/Research/Projects/PR_Housing/Data/NoO.xlsx")
df_NoO = pd.DataFrame(NoO)
df_NoO = df_NoO.set_index(['FIPS'])

No0_NoO = pd.read_excel("/Users/lszczyrba/Documents/Research/Projects/PR_Housing/Data/No0_NoO.xlsx")
df_No0_NoO = pd.DataFrame(No0_NoO)
df_No0_NoO = df_No0_NoO.set_index(['FIPS'])

cat = pd.read_excel("/Users/lszczyrba/Documents/Research/Projects/PR_Housing/Data/cat.xlsx")
df_cat = pd.DataFrame(cat)
df_cat = df_cat.set_index(['FIPS'])

In [4]:
master_df = df_features.merge(df_origs, right_index=True, left_index=True, how='left') \
.merge(df_No0, right_index = True, left_index=True, how='left') \
.merge(df_NoO, right_index = True, left_index=True, how='left') \
.merge(df_No0_NoO, right_index=True, left_index=True, how='left') \
.merge(df_cat, right_index=True, left_index=True, how='left')

In [5]:
# master_df.to_excel("/Users/lszczyrba/Documents/Research/Projects/PR_Housing/Data/master_df_20191021.xlsx")

In [6]:
master_df.head()

,Prop_SFHA_,Prop_DG_Ar,Ave_LS_cod,DG_MaxDe_1,HurTrack_D,PeakGust_1,MaxSusta_1,Count_,StrVI,SeVI,Str+SeVI,SoVI,DG_mean_m,O_Ind,R_Ind,R_I_No0,R_I_NoO,R_I_No0_NoO,cat_3q,cat_4q
FIPS,,,,,,,,,,,,,,,,,,,,
72001956300,0.02,0.00,2.00,0.00,0.24,44.26,34.87,2414,3.07,-8.41,-5.35,-9.44,0.00,0.000000,0.000000,NaN,0.000000,NaN,0,0
72001956400,0.03,0.02,2.00,2.72,0.27,43.81,33.98,1854,7.84,-7.49,0.35,-14.31,2.57,0.017799,0.017260,0.017260,0.017260,0.017260,1,1
72001956500,0.01,0.00,1.88,0.00,0.29,43.36,33.98,1833,5.42,-13.13,-7.71,-8.48,0.00,0.007092,0.007092,0.007092,0.007092,0.007092,0,1
72001956600,0.05,0.00,1.80,0.00,0.26,43.81,34.42,698,1.21,-7.72,-6.51,-7.78,0.00,0.000000,0.000000,NaN,0.000000,NaN,0,0
72001956700,0.10,0.00,2.00,0.00,0.26,43.81,34.42,790,1.30,-6.66,-5.35,-6.12,0.00,0.000000,0.000000,NaN,0.000000,NaN,0,0